# bright data
BRIGHT_DATA_API_KEY=""

# aiml api
AIML_API_KEY=""

# turso
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

# hubspot crm
HUBSPOT_CLIENT_ID=""
HUBSPOT_CLIENT_SECRET=""
HUBSPOT_REDIRECT_URI=""

# auth
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
